{% extends 'base/index.html' %}
{% block content %}

<div class="top-bar">
    <div>
        <h1>Hi {{request.user|title}}</h1>
        <h3 style="margin: 0; ">
            You have <strong>{{ count }}</strong> task{{ count|pluralize }} remaining
        </h3>
    </div>
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Exit</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</div>
<h1>Current Tasks</h1>

<a href="{% url 'create' %}">Create a new task</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_value}}">
    <input type="submit" name="search">
</form>

<table>
    <tr>
        <th>Elements</th>
        <th></th>
        <th></th>
    </tr>

    {% for task in tasks %}

    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'detailed' task.pk %}">View</a></td>
        <td><a href="{% url 'update' task.pk %}">Edit</a></td>
        <td><a href="{% url 'delete' task.pk %}">Delete</a></td>
    </tr>

    {% empty %}
    <h3>List is empty</h3>

    {% endfor %}

</table>
{% endblock content %}